<!-- Example use of dynamic href link -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boiler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>This is HTML boilerplate</h2>
    <p><img src="./static/images/giphy.gif" alt="A random gif file"></p>
    <p>This is a title case string: {{ word.title() }}</p>
    <p>This is a squared number: {{ number**2 }}</p>
    {% for num in list %}
        <p>This is a number:</p>
        <h1>{{ num**2 }}</h1>
    {% endfor %}
</body>
</html>